.btn-submit, .btn-base, .btn-secondary, .btn-primary {
  font-size: 13px;
  border: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}
.btn-submit:hover, .btn-base:hover, .btn-secondary:hover, .btn-primary:hover {
  background-color: #30383b;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .btn-submit, .btn-base, .btn-secondary, .btn-primary {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 10px;
    text-transform: uppercase;
  }
}

.btn-submit, .btn-secondary {
  text-transform: uppercase;
  border-radius: 30px;
}

.btn-primary {
  background-color: #1ba4ce;
}

.btn-secondary {
  background-color: #1ba4ce;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .btn-secondary {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
  }
}

.btn-base {
  color: #30383b;
  background-color: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-base:hover {
  background-color: white;
  color: #1ba4ce;
  cursor: pointer;
}
.btn-base:hover .btn-base-icon {
  border: solid 1px #1ba4ce;
  transform: rotate(360deg);
}

.btn-submit {
  background-color: white;
  color: #30383b;
  float: left;
}
.btn-submit:hover {
  color: white;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .btn-submit {
    float: none;
  }
}

.menu {
  list-style: none;
  display: flex;
  gap: 50px;
  width: 70%;
  align-items: center;
}
.menu a {
  text-decoration: none;
  color: #30383b;
  font-size: 12px;
  font-weight: 500;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .menu {
    display: none;
  }
}

.form {
  background-color: #1ba4ce;
}
.form form {
  margin-left: 100px;
  width: 70%;
}
.form form .inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 2%;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .form form {
    margin: auto;
    flex-direction: column;
  }
}
.form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  background-color: #1ba4ce;
  color: white;
  margin-bottom: 40px;
  padding-bottom: 20px;
}
.form textarea::placeholder {
  color: white;
  text-transform: uppercase;
  padding-bottom: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .form textarea {
    width: 100%;
  }
}
.form select,
.form input {
  width: 48%;
  border: none;
  border-bottom: 1px solid white;
  background-color: #1ba4ce;
  color: white;
  margin-bottom: 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.form select::placeholder,
.form input::placeholder {
  color: white;
  text-transform: uppercase;
  padding-bottom: 10px;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .form select,
  .form input {
    width: 100%;
  }
}

.row {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 20px;
  text-align: center;
  padding-top: 50px;
  flex-wrap: wrap;
  width: 90%;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .row {
    flex-direction: column;
    width: 90%;
  }
}

.col {
  width: 20%;
  border: 1px solid #e6e9ea;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .col {
    padding: 0;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    padding-bottom: 50px;
    margin-bottom: 10%;
  }
}
.col-img {
  width: 95%;
  margin: auto;
}
.col-img img {
  width: 100%;
}
.col:hover {
  box-shadow: 1px 1px 20px #e6e9ea;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .col {
    width: 100%;
  }
}

.full-image-width {
  padding: 0;
}
.full-image-width img {
  width: 100%;
}

body {
  font-family: "Roboto", serif;
  color: #75888f;
  font-weight: 300;
  margin: 0;
}

.top-background {
  position: relative;
}
.top-background::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(147, 147, 147, 0.41);
  z-index: 2;
}

.title-text-bg {
  font-family: "Bellota", serif;
  font-size: 50px;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .title-text-bg {
    font-size: 35px;
  }
}

.title-text-md {
  font-family: "Bellota", serif;
  font-size: 42px;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .title-text-md {
    font-size: 22px;
  }
}

.title-text-sm {
  font-family: "Bellota", serif;
  font-size: 22px;
}

.title-text-sm-uppercase {
  font-family: "Bellota", serif;
  text-transform: uppercase;
  font-size: 15px;
  color: #697b81;
}

.title-text-xs-uppercase {
  text-transform: uppercase;
  font-size: 15px;
}

.text-paragraph {
  font-size: 16px;
  line-height: 30px;
  color: #697b81;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .text-paragraph {
    font-size: 17px;
    line-height: 37px;
    line-height: 20px;
  }
}

.intro-texts {
  width: 90%;
  text-align: center;
  margin: auto;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .intro-texts {
    width: 90%;
  }
}
.intro-texts-texts {
  margin: auto;
  text-align: center;
}
.intro-texts-texts p {
  margin-bottom: 50px;
}

.longer-width {
  width: 60%;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .longer-width {
    width: 90%;
  }
}

.circled {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: solid 1px #30383b;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.circled i {
  margin: auto;
}

.light-text {
  color: white;
}

.dark-text {
  color: #30383b;
}

.longer-padding {
  padding-top: 150px;
}

.full-input-width input {
  width: 100%;
}

@media only screen and (min-width: 0) and (max-width: 600px) {
  .hide i {
    display: none;
  }
}

.header {
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: space-between;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .header {
    padding: 0;
    height: 500px;
  }
}
.header-hidden {
  margin-left: -30px;
  width: 15%;
  height: 15%;
  margin-top: 5%;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .header-hidden {
    margin-left: -13px;
    margin-top: 40%;
  }
}
.header-texts {
  color: #30383b;
  width: 33%;
  padding-top: 15%;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .header-texts {
    top: 100px;
    padding-top: 0;
    position: relative;
    z-index: 1;
    width: 100%;
  }
}
.header-texts-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-top: 50px;
}
.header-image {
  width: 40%;
}
.header-image img {
  width: 100%;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .header-image {
    display: none;
  }
}

.nav {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  position: absolute;
  top: 4%;
  left: 15%;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .nav {
    padding-right: 5%;
    padding-left: 5%;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    left: 0;
    top: 0;
    align-items: center;
  }
}
.nav-logo img {
  width: 70px;
}
.nav-humberger {
  width: 70px;
}
.nav-humberger-item {
  transition: all 0.36s ease-in-out;
  display: hide;
  width: 70px;
  height: 10px;
  background-color: #1ba4ce;
  margin-bottom: 10px;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .nav-humberger-item {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 7px;
  }
}

.fixed-nav {
  background-color: #1ba4ce;
  position: fixed;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 0;
}
.fixed-nav a {
  color: white;
}

.white-humberger span {
  background-color: white;
}

.mobile-nav {
  width: 80%;
  background-color: #1ba4ce;
  z-index: 4;
  margin-left: 20%;
  display: flex;
  box-shadow: 1px 1px 20px #e6e9ea;
}
.mobile-nav .menu {
  margin-top: 60px;
  height: auto;
  display: block;
  line-height: 80px;
}
.mobile-nav .menu a {
  font-size: 40px;
  color: white;
}
.mobile-nav .nav-logo img {
  display: none;
}

.humberger-on-click {
  position: absolute;
  top: 4%;
  right: 20px;
  padding-bottom: 20px;
}
.humberger-on-click span {
  background-color: white;
}

.hide-span {
  display: none;
}

.rotate-left {
  transform: rotate(40deg);
  margin-top: 12px;
}

.rotate-right {
  transform: rotate(-40deg);
  margin-top: -12px;
}

.about {
  margin-bottom: 150px;
  padding: 0;
  margin: 0;
}
.about img {
  width: 10%;
  display: block;
  margin: auto;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .about img {
    width: 30%;
  }
}
.about-images {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 20px;
  text-align: center;
  margin-top: 150px;
  gap: 0;
  width: 100%;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .about-images {
    flex-direction: column;
  }
}
.about-images-item {
  position: relative;
}
.about-images-item img {
  width: 100%;
}
.about-images-item:hover::before {
  position: absolute;
  background: url("../../img/icons/icon-spa.png") no-repeat center;
  background-position-y: 150px;
  background-size: 60px;
  content: "Body treatment";
  background-color: rgba(27, 164, 206, 0.8039215686);
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  font-family: "Bellota", serif;
  color: white;
  font-size: 22px;
  font-weight: 400;
}

.member {
  position: relative;
}
.member-text {
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: -40px;
  width: 80%;
  height: 45px;
  overflow: hidden;
  left: 10%;
  right: 10%;
  padding-bottom: 50px;
  transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .member-text {
    height: 40px;
    z-index: 1;
  }
}
.member-text:hover {
  bottom: -20px;
  overflow: block;
  height: 130px;
  box-shadow: 1px 1px 20px #e6e9ea;
}
.member-text-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.member-text-icons-facebook-icon:hover, .member-text-icons-instagram-icon:hover, .member-text-icons-twitter-icon:hover {
  background-color: #1ba4ce;
  color: white;
}

.appointment {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 20px;
  text-align: center;
  gap: 0;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .appointment {
    flex-direction: column;
  }
}
.appointment-img {
  width: 40%;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .appointment-img {
    display: none;
  }
}

.contact {
  padding-top: 50px;
  background-color: #1ba4ce;
  color: white;
  padding-bottom: 50px;
}
.contact p {
  color: white;
}
.contact-container {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 20px;
  text-align: center;
  align-items: center;
  margin-top: 50px;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .contact-container {
    flex-direction: column;
    width: 100%;
  }
}
.contact-container-phisical {
  width: 17%;
}
@media only screen and (min-width: 0) and (max-width: 600px) {
  .contact-container-phisical {
    width: 80%;
    margin: auto;
  }
}
.contact-container-phisical-address, .contact-container-phisical-email, .contact-container-phisical-phone {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 20px;
  text-align: center;
  justify-content: left;
  align-items: center;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-container-phisical-address, .contact-container-phisical-email, .contact-container-phisical-phone {
    gap: 0;
  }
}
.contact-container-phisical-address-text, .contact-container-phisical-email-text, .contact-container-phisical-phone-text {
  text-align: left;
}

.footer {
  padding-top: 50px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 50px;
}
.footer-nav {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 20px;
  text-align: center;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: center;
}
.footer-nav-logo {
  width: 100px;
  height: 100px;
  margin: auto;
}
.footer-nav-logo img {
  width: 100%;
}
.footer .centered {
  width: auto;
  margin: auto;
}
.footer .centered a {
  font-size: 17px;
}/*# sourceMappingURL=main.css.map */