.btn-submit, .btn-base, .btn-secondary, .btn-primary {
  font-size: 13px;
  border: none;
  color: white;
  padding: 15px;
}
.btn-submit:hover, .btn-base:hover, .btn-secondary:hover, .btn-primary:hover {
  background-color: #30383b;
}

.btn-submit, .btn-secondary {
  text-transform: uppercase;
  border-radius: 30px;
}

.btn-primary {
  background-color: #1ba4ce;
}

.btn-secondary {
  background-color: #1ba4ce;
}

.btn-base {
  color: #30383b;
  background-color: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-base-icon {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: solid 1px #30383b;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.btn-base-icon i {
  margin: auto;
}
.btn-base:hover {
  background-color: white;
  color: #1ba4ce;
  cursor: pointer;
}
.btn-base:hover .btn-base-icon {
  border: solid 1px #1ba4ce;
  transform: rotate(360deg);
}

.btn-submit {
  background-color: white;
  color: #30383b;
  display: flex;
  margin-left: 10%;
}
.btn-submit:hover {
  color: white;
}

.header {
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header {
    position: relative;
    height: 700px;
  }
}
.header-hidden {
  margin-left: -30px;
  width: 15%;
  height: 15%;
  margin-top: 5%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-hidden {
    margin-top: 22%;
  }
}
.header-texts {
  color: #30383b;
  width: 33%;
  padding-top: 15%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-texts {
    position: absolute;
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;
  }
}
.header-texts-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-top: 50px;
}
.header-image {
  width: 40%;
}
.header-image img {
  width: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-image {
    display: none;
  }
}

.nav {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  position: absolute;
  top: 4%;
  left: 15%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .nav {
    padding-right: 5%;
    padding-left: 5%;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    left: 0;
    top: 0;
  }
}
.nav-logo img {
  width: 70px;
}
.nav-menu {
  list-style: none;
  display: flex;
  gap: 50px;
  width: 53%;
}
.nav-menu a {
  text-decoration: none;
  color: #30383b;
  font-size: 12px;
  font-weight: 500;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .nav-menu {
    display: none;
  }
}
.nav-humberger {
  width: 70px;
}
.nav-humberger-item {
  display: hide;
  width: 70px;
  height: 10px;
  background-color: #1ba4ce;
  margin-bottom: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .nav-humberger-item {
    display: block;
  }
}

.about {
  color: #30383b;
}
.about-texts {
  width: 60%;
  margin: auto;
  text-align: center;
}
.about-texts p {
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-texts {
    width: 90%;
  }
}
.about img {
  width: 10%;
  display: block;
  margin: auto;
}
.about-images {
  display: flex;
  margin-top: 150px;
  width: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-images {
    flex-direction: column;
  }
}
.about-images-item {
  position: relative;
}
.about-images-item img {
  width: 100%;
}
.about-images-item:hover::before {
  position: absolute;
  background: url("../../img/icons/icon-spa.png") no-repeat center;
  background-position-y: 150px;
  background-size: 60px;
  content: "Body treatment";
  background-color: rgba(27, 164, 206, 0.8039215686);
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  font-family: "Bellota", serif;
  color: white;
  font-size: 22px;
  font-weight: 400;
}

.popular {
  color: #30383b;
}
.popular-texts {
  width: 40%;
  margin: auto;
  text-align: center;
}
.popular-texts p {
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .popular-texts {
    width: 90%;
  }
}
.popular-procedures {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 20px;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .popular-procedures {
    flex-direction: column;
    width: 90%;
  }
}
.popular-procedures-item {
  width: 20%;
  border: 1px solid #e6e9ea;
  padding: 25px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .popular-procedures-item {
    padding: 0;
    padding-top: 5%;
  }
}
.popular-procedures-item-img {
  width: 90%;
  margin: auto;
}
.popular-procedures-item-img img {
  width: 100%;
}
.popular-procedures-item:hover {
  box-shadow: 1px 1px 20px #e6e9ea;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .popular-procedures-item {
    width: 100%;
  }
}

.team {
  color: #30383b;
}
.team-texts {
  width: 40%;
  margin: auto;
  text-align: center;
}
.team-texts p {
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .team-texts {
    width: 90%;
  }
}
.team-members {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 20px;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .team-members {
    flex-direction: column;
    width: 100%;
  }
}
.team-members-member {
  position: relative;
}
.team-members-member-img {
  width: 90%;
  margin: auto;
}
.team-members-member img {
  width: 100%;
}
.team-members-member img {
  width: 100%;
}
.team-members-member-text {
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: -40px;
  width: 80%;
  height: 55px;
  overflow: hidden;
  left: 10%;
  right: 10%;
  padding-bottom: 50px;
  transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .team-members-member-text {
    width: 100%;
    left: 0;
    right: 0;
  }
}
.team-members-member-text:hover {
  bottom: -20px;
  overflow: block;
  height: 130px;
  box-shadow: 1px 1px 20px #e6e9ea;
}
.team-members-member-text-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.team-members-member-text-icons-facebook-icon, .team-members-member-text-icons-instagram-icon, .team-members-member-text-icons-twitter-icon {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: solid 1px #30383b;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.team-members-member-text-icons-facebook-icon i, .team-members-member-text-icons-instagram-icon i, .team-members-member-text-icons-twitter-icon i {
  margin: auto;
}
.team-members-member-text-icons-facebook-icon:hover, .team-members-member-text-icons-instagram-icon:hover, .team-members-member-text-icons-twitter-icon:hover {
  background-color: #1ba4ce;
  color: white;
}

.appointment {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 20px;
  text-align: center;
  gap: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .appointment {
    flex-direction: column;
  }
}
.appointment-img {
  width: 40%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .appointment-img {
    display: none;
  }
}
.appointment-form {
  background-color: #1ba4ce;
}
.appointment-form form {
  padding-top: 150px;
  width: 80%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .appointment-form form {
    margin: auto;
  }
}
.appointment-form textarea {
  width: 85%;
  border: none;
  border-bottom: 1px solid white;
  background-color: #1ba4ce;
  color: white;
  margin-bottom: 40px;
  margin-left: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.appointment-form textarea::placeholder {
  color: white;
  text-transform: uppercase;
  padding-bottom: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .appointment-form textarea {
    width: 100%;
  }
}
.appointment-form select,
.appointment-form input {
  width: 40%;
  border: none;
  border-bottom: 1px solid white;
  background-color: #1ba4ce;
  color: white;
  margin-bottom: 40px;
  margin-left: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.appointment-form select::placeholder,
.appointment-form input::placeholder {
  color: white;
  text-transform: uppercase;
  padding-bottom: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .appointment-form select,
  .appointment-form input {
    width: 100%;
  }
}

.blog {
  color: #30383b;
}
.blog-texts {
  width: 40%;
  margin: auto;
  text-align: center;
}
.blog-texts p {
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blog-texts {
    width: 90%;
  }
}
.blog-article {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 20px;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blog-article {
    flex-direction: column;
  }
}
.blog-article-item {
  width: 21%;
  border: 1px solid #e6e9ea;
  padding: 25px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blog-article-item {
    width: 90%;
    padding: 0;
    margin: auto;
  }
}
.blog-article-item-img {
  width: 90%;
  margin: auto;
  padding-top: 5%;
}
.blog-article-item-img img {
  width: 100%;
}
.blog-article-item:hover {
  box-shadow: 1px 1px 20px #e6e9ea;
}

.contact {
  padding-top: 50px;
  background-color: #1ba4ce;
  color: #30383b;
  color: white;
  padding-bottom: 50px;
}
.contact-texts {
  width: 40%;
  margin: auto;
  text-align: center;
}
.contact-texts p {
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-texts {
    width: 90%;
  }
}
.contact p {
  color: white;
}
.contact-container {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 20px;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-container {
    flex-direction: column;
  }
}
.contact-container-phisical {
  width: 17%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-container-phisical {
    width: 80%;
    margin: auto;
  }
}
.contact-container-phisical-address, .contact-container-phisical-email, .contact-container-phisical-phone {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 20px;
  text-align: center;
  justify-content: left;
  align-items: center;
  gap: 15%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-container-phisical-address, .contact-container-phisical-email, .contact-container-phisical-phone {
    gap: 0;
  }
}
.contact-container-phisical-address-text, .contact-container-phisical-email-text, .contact-container-phisical-phone-text {
  text-align: left;
}
.contact select,
.contact input {
  width: 68%;
  border: none;
  border-bottom: 1px solid white;
  background-color: #1ba4ce;
  color: white;
  margin-bottom: 40px;
  margin-left: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.contact select::placeholder,
.contact input::placeholder {
  color: white;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.contact textarea {
  width: 68%;
  border: none;
  border-bottom: 1px solid white;
  background-color: #1ba4ce;
  color: white;
  margin-bottom: 40px;
  margin-left: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.contact textarea::placeholder {
  color: white;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.footer {
  padding-top: 50px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 50px;
}
.footer-nav {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 20px;
  text-align: center;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: center;
}
.footer-nav-logo {
  width: 100px;
  height: 100px;
  margin: auto;
}
.footer-nav-logo img {
  width: 100%;
}
.footer-nav-menu {
  padding-bottom: 50px;
  list-style: none;
  display: flex;
  gap: 50px;
  width: 53%;
  width: auto;
  margin: auto;
  justify-content: center;
}
.footer-nav-menu a {
  text-decoration: none;
  color: #30383b;
  font-size: 12px;
  font-weight: 500;
}
.footer-nav-menu a {
  font-size: 15px;
}

body {
  font-family: "Roboto", serif;
  color: #75888f;
  font-weight: 300;
  margin: 0;
}

.title-text-bg {
  font-family: "Bellota", serif;
  font-size: 50px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .title-text-bg {
    font-size: 70px;
  }
}

.title-text-md {
  font-family: "Bellota", serif;
  font-size: 42px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .title-text-md {
    font-size: 48px;
  }
}

.title-text-sm {
  font-family: "Bellota", serif;
}

.title-text-sm-uppercase {
  font-family: "Bellota", serif;
  text-transform: uppercase;
  font-size: 15px;
  color: #697b81;
}

.title-text-xs-uppercase {
  font-family: "Roboto", serif;
  color: #75888f;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 13px;
}

.text-paragraph {
  font-size: 16px;
  line-height: 30px;
  color: #697b81;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .text-paragraph {
    font-size: 30px;
    line-height: 37px;
  }
}/*# sourceMappingURL=main.css.map */