.btn-submit, .btn-base, .btn-secondary, .btn-primary {
  font-size: 13px;
  border: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: white;
}
.btn-submit:hover, .btn-base:hover, .btn-secondary:hover, .btn-primary:hover {
  background-color: #30383b;
}

.btn-submit, .btn-secondary {
  text-transform: uppercase;
  border-radius: 30px;
}

.btn-primary {
  background-color: #1ba4ce;
}

.btn-secondary {
  background-color: #1ba4ce;
}

.btn-base {
  color: #30383b;
  background-color: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-base-icon {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: solid 1px #30383b;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.btn-base-icon i {
  margin: auto;
}
.btn-base:hover {
  background-color: white;
  color: #1ba4ce;
  cursor: pointer;
}
.btn-base:hover .btn-base-icon {
  border: solid 1px #1ba4ce;
  transform: rotate(360deg);
}

.btn-submit {
  background-color: white;
  color: #30383b;
  display: flex;
  margin-left: 10%;
}
.btn-submit:hover {
  color: white;
}

body {
  font-family: "Roboto", serif;
  color: #75888f;
  font-weight: 300;
  margin: 0;
}

.title-text-bg {
  font-family: "Bellota", serif;
  color: #30383b;
  font-size: 50px;
}

.title-text-md {
  font-family: "Bellota", serif;
  color: #30383b;
  font-size: 42px;
}

.title-text-sm {
  font-family: "Bellota", serif;
  color: #30383b;
}

.title-text-sm-uppercase {
  font-family: "Bellota", serif;
  color: #30383b;
  text-transform: uppercase;
  font-size: 15px;
}

.text-paragraph {
  font-size: 16px;
  line-height: 30px;
}

.nav {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
  padding-top: 10px;
  position: absolute;
  top: 4%;
  left: 15%;
}
.nav-logo img {
  width: 70px;
}
.nav-menu {
  list-style: none;
  display: flex;
  gap: 50px;
  width: 53%;
}
.nav-menu a {
  text-decoration: none;
  color: #30383b;
  font-size: 12px;
  font-weight: 500;
}

.header {
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.header-hidden {
  margin-left: -30px;
  width: 15%;
  height: 15%;
  margin-top: 5%;
}
.header-texts {
  width: 33%;
  padding-top: 15%;
}
.header-texts-buttons {
  display: flex;
  padding-top: 50px;
}
.header-image {
  width: 40%;
}
.header-image img {
  width: 100%;
}

.about-texts {
  width: 60%;
  margin: auto;
  text-align: center;
}
.about-texts p {
  margin-bottom: 50px;
}
.about img {
  width: 10%;
  display: block;
  margin: auto;
}
.about-images {
  display: flex;
  margin-top: 150px;
  width: 100%;
}
.about-images-item {
  position: relative;
}
.about-images-item img {
  width: 100%;
}
.about-images-item:hover::before {
  position: absolute;
  background: url("../../img/icons/icon-spa.png") no-repeat center;
  background-position-y: 150px;
  background-size: 60px;
  content: "Body treatment";
  background-color: rgba(27, 164, 206, 0.8039215686);
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  font-family: "Bellota", serif;
  color: #30383b;
  color: white;
  font-size: 22px;
  font-weight: 400;
}

.popular-texts {
  width: 40%;
  margin: auto;
  text-align: center;
}
.popular-texts p {
  margin-bottom: 50px;
}
.popular-procedures {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 20px;
  text-align: center;
}
.popular-procedures-item {
  width: 20%;
  border: 1px solid #e6e9ea;
  padding: 25px;
}
.popular-procedures-item img {
  width: 100%;
}
.popular-procedures-item:hover {
  box-shadow: 1px 1px 20px #e6e9ea;
}

.team-texts {
  width: 40%;
  margin: auto;
  text-align: center;
}
.team-texts p {
  margin-bottom: 50px;
}
.team-members {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 20px;
  text-align: center;
}
.team-members-member {
  position: relative;
}
.team-members-member-text {
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: -40px;
  width: 80%;
  height: 55px;
  overflow: hidden;
  left: 10%;
  right: 10%;
  padding-bottom: 50px;
  transition: all 0.3s ease-in-out;
}
.team-members-member-text:hover {
  bottom: -20px;
  overflow: block;
  height: 130px;
  box-shadow: 1px 1px 20px #e6e9ea;
}
.team-members-member-text-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.team-members-member-text-icons-facebook-icon, .team-members-member-text-icons-instagram-icon, .team-members-member-text-icons-twitter-icon {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: solid 1px #30383b;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.team-members-member-text-icons-facebook-icon i, .team-members-member-text-icons-instagram-icon i, .team-members-member-text-icons-twitter-icon i {
  margin: auto;
}
.team-members-member-text-icons-facebook-icon:hover, .team-members-member-text-icons-instagram-icon:hover, .team-members-member-text-icons-twitter-icon:hover {
  background-color: #1ba4ce;
  color: white;
}

.appointment {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 20px;
  text-align: center;
  gap: 0;
}
.appointment-img {
  width: 40%;
}
.appointment-form {
  background-color: #1ba4ce;
}
.appointment-form form {
  padding-top: 150px;
  width: 80%;
}
.appointment-form textarea {
  width: 85%;
  border: none;
  border-bottom: 1px solid white;
  background-color: #1ba4ce;
  color: white;
  margin-bottom: 40px;
  margin-left: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.appointment-form textarea::placeholder {
  color: white;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.appointment-form select,
.appointment-form input {
  width: 40%;
  border: none;
  border-bottom: 1px solid white;
  background-color: #1ba4ce;
  color: white;
  margin-bottom: 40px;
  margin-left: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.appointment-form select::placeholder,
.appointment-form input::placeholder {
  color: white;
  text-transform: uppercase;
  padding-bottom: 10px;
}/*# sourceMappingURL=main.css.map */