@mixin Roboto {
  font-family: "Roboto", serif;
  color: lighten($color-main-backgrounds, 30);
  font-weight: 300;
}

@mixin Bellota {
  font-family: "Bellota", serif;
}
@mixin intro-text($width-value) {
  color: $color-main-backgrounds;
  &-texts {
    width: $width-value;
    margin: auto;
    text-align: center;
    p {
      margin-bottom: $standard-padding;
    }
    @include responsive(768px, 991px) {
      width: 90%;
    }
  }
}
@mixin box-flex {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 20px;
  text-align: center;
}
@mixin nav-menu {
  list-style: none;
  display: flex;
  gap: 50px;
  width: 53%;
  a {
    text-decoration: none;
    color: $color-main-backgrounds;
    font-size: 12px;
    font-weight: 500;
  }
}
@mixin circled-icon {
  &-icon {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: solid 1px $color-main-backgrounds;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
    i {
      margin: auto;
    }
  }
}
@mixin box-shadow {
  box-shadow: 1px 1px 20px lighten($color-main-backgrounds, 70);
}
@mixin contact-inputs($the-width) {
  width: $the-width;
  border: none;
  border-bottom: 1px solid white;
  background-color: $color-primary;
  color: white;
  margin-bottom: 40px;
  margin-left: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  &::placeholder {
    color: white;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
}
@mixin responsive($min-width, $max-width) {
  @media only screen and (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}
