@mixin Roboto {
  font-family: "Roboto", serif;
  color: lighten($color-main-backgrounds, 30);
  font-weight: 300;
}

@mixin Bellota {
  font-family: "Bellota", serif;
  color: $color-main-backgrounds;
}
@mixin intro-text($width-value) {
  &-texts {
    width: $width-value;
    margin: auto;
    text-align: center;
    p {
      margin-bottom: $standard-padding;
    }
  }
}
