%btn {
  font-size: $primary-font-size - 3;
  border: none;
  color: white;
  padding-top: $standard-padding - 40;
  padding-bottom: $standard-padding - 40;
  padding-left: $standard-padding - 10;
  padding-right: $standard-padding - 10;

  &:hover {
    background-color: $color-main-backgrounds;
  }
  @include responsive(0, 600px) {
    padding-top: $standard-padding - 42;
    padding-bottom: $standard-padding - 42;
    padding-left: $standard-padding - 25;
    padding-right: $standard-padding - 25;
    font-size: 10px;
    text-transform: uppercase;
  }
  @include responsive(600px, 767px) {
    padding-top: $standard-padding - 30;
    padding-bottom: $standard-padding - 30;
    padding-left: $standard-padding - 10;
    padding-right: $standard-padding - 10;
    font-size: $primary-font-size;
  }
}
%border-radius {
  text-transform: uppercase;
  border-radius: 30px;
}
.btn-primary {
  @extend %btn;
  background-color: $color-primary;
}
.btn-secondary {
  @extend %btn;
  @extend %border-radius;
  background-color: $color-primary;
  @include responsive(0, 600px) {
    font-size: $primary-font-size;
    padding-top: $standard-padding - 35;
    padding-bottom: $standard-padding - 35;
    padding-left: $standard-padding - 15;
    padding-right: $standard-padding - 15;
  }
}
.btn-base {
  @extend %btn;
  color: $color-main-backgrounds;
  background-color: none;
  display: flex;
  align-items: center;
  gap: 10px;
  &:hover {
    background-color: white;
    color: $color-primary;
    cursor: pointer;
    .btn-base-icon {
      border: solid 1px $color-primary;
      transform: rotate(360deg);
    }
  }
}
.btn-submit {
  @extend %btn;
  @extend %border-radius;
  background-color: white;
  color: $color-main-backgrounds;
  float: left;
  &:hover {
    color: white;
  }
  @include responsive(0, 600px) {
    float: none;
  }
}
