%btn {
  font-size: 13px;
  border: none;
  color: white;
  padding: $standard-padding - 35;

  &:hover {
    background-color: $color-main-backgrounds;
  }
}
%border-radius {
  text-transform: uppercase;
  border-radius: 30px;
}
.btn-primary {
  @extend %btn;
  background-color: $color-primary;
}
.btn-secondary {
  @extend %btn;
  @extend %border-radius;
  background-color: $color-primary;
}
.btn-base {
  @extend %btn;
  color: $color-main-backgrounds;
  background-color: none;
  display: flex;
  align-items: center;
  gap: 10px;
  &:hover {
    background-color: white;
    color: $color-primary;
    cursor: pointer;
    .btn-base-icon {
      border: solid 1px $color-primary;
      transform: rotate(360deg);
    }
  }
}
.btn-submit {
  @extend %btn;
  @extend %border-radius;
  background-color: white;
  color: $color-main-backgrounds;
  float: left;
  &:hover {
    color: white;
  }
}
