.row {
  @include box-flex;
  padding-top: $standard-padding;
  flex-wrap: wrap;
  width: 90%;

  @include responsive(0, 600px) {
    flex-direction: column;
    width: 90%;
  }

  @include responsive(600px, 767px) {
    flex-direction: column;
    width: 90%;
  }
}

.col {
  width: 20%;
  border: 1px solid $lighten-box-color;
  box-sizing: border-box;
  padding-top: $standard-padding - 35;
  padding-bottom: $standard-padding;
  padding-left: $standard-padding - 35;
  padding-right: $standard-padding - 35;

  @include responsive(0, 600px) {
    padding: 0;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    padding-bottom: $standard-padding;
    margin-bottom: 10%;
  }

  @include responsive(600px, 767px) {
    padding: 0;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    padding-bottom: $standard-padding;
    margin-bottom: 10%;
  }

  @include responsive(768px, 1199px) {
    width: 30%;
  }

  &-img {
    width: 95%;
    margin: auto;

    img {
      width: 100%;
    }
  }

  &:hover {
    @include box-shadow;
  }
}

.full-image-width {
  padding: 0;
  img {
    width: 100%;
  }
}
