.form {
  background-color: $color-primary;
  form {
    margin-left: $standard-margin - 50;
    .inputs {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      gap: 2%;
    }

    width: 70%;

    @include responsive(0, 600px) {
      margin: auto;
      flex-direction: column;
    }
    @include responsive(600px, 767px) {
      margin: auto;
      flex-direction: column;
    }
  }

  textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    background-color: $color-primary;
    color: white;
    margin-bottom: 40px;
    padding-bottom: 20px;
    &::placeholder {
      color: white;
      text-transform: uppercase;
      padding-bottom: 10px;
      @include responsive(600px, 767px) {
        padding-bottom: 0px;
      }
    }
  }
  select,
  input {
    width: 48%;
    border: none;
    border-bottom: 1px solid white;
    background-color: $color-primary;
    color: white;
    margin-bottom: 10%;
    padding-bottom: 20px;
    text-transform: uppercase;
    @include responsive(0, 600px) {
      width: 100%;
    }
    @include responsive(600px, 767px) {
      width: 100%;
      font-size: $primary-font-size + 2;
    }
    &::placeholder {
      color: white;
      text-transform: uppercase;
      padding-bottom: 10px;
    }
  }
}
