.form {
  background-color: $color-primary;
  form {
    margin-left: $standard-margin - 50;
    .inputs {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      gap: 2%;
    }

    width: 70%;

    @include responsive(768px, 991px) {
      margin: auto;
    }
  }

  textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    background-color: $color-primary;
    color: white;
    margin-bottom: 40px;
    padding-bottom: 20px;
    &::placeholder {
      color: white;
      text-transform: uppercase;
      padding-bottom: 10px;
    }
    @include responsive(768px, 991px) {
      width: 100%;
    }
  }
  select,
  input {
    width: 48%;
    border: none;
    border-bottom: 1px solid white;
    background-color: $color-primary;
    color: white;
    margin-bottom: 40px;

    padding-bottom: 20px;
    text-transform: uppercase;
    &::placeholder {
      color: white;
      text-transform: uppercase;
      padding-bottom: 10px;
    }
    @include responsive(768px, 991px) {
      width: 100%;
    }
  }
}
