.intro-texts {
  width: 40%;
  text-align: center;
  margin: auto;
  &-texts {
    margin: auto;
    text-align: center;
    p {
      margin-bottom: $standard-padding;
    }
    @include responsive(768px, 991px) {
      width: 90%;
    }
  }
}
