.menu {
  list-style: none;
  display: flex;
  gap: 50px;
  width: 70%;
  align-items: center;
  a {
    text-decoration: none;
    color: $color-main-backgrounds;
    font-size: 12px;
    font-weight: 500;
  }

  @include responsive(0, 600px) {
    display: none;
  }
}

// &-menu {
//   padding-bottom: $standard-padding;
//   @include nav-menu;
//   width: auto;
//   margin: auto;

//   justify-content: center;

//   a {
//     font-size: $secondary-font-size;
//   }
// }
