body {
  @include Roboto;
  margin: 0;
}

.title-text-bg {
  @include Bellota;
  font-size: 50px;
  @include responsive(768px, 991px) {
    font-size: 70px;
  }
}
.title-text-md {
  @include Bellota;
  font-size: 42px;
  @include responsive(768px, 991px) {
    font-size: 48px;
  }
}
.title-text-sm {
  @include Bellota;
}
.title-text-sm-uppercase {
  @include Bellota;
  text-transform: uppercase;
  font-size: 15px;
  color: lighten($color-main-backgrounds, 25);
}
.title-text-xs-uppercase {
  @include Roboto;
  text-transform: uppercase;
  font-size: 13px;
}
.text-paragraph {
  font-size: 16px;
  line-height: $text-spacing;
  color: lighten($color-main-backgrounds, 25);
  @include responsive(768px, 991px) {
    font-size: 30px;
    line-height: $text-spacing + 7;
  }
}
