body {
  font-family: "Roboto", serif;
  color: lighten($color-main-backgrounds, 30);
  font-weight: 300;
  margin: 0;
}

.title-text-bg {
  @include Bellota;
  font-size: $main-header-font-size;
  @include responsive(0, 600px) {
    font-size: $main-header-font-size - 15;
  }
}
.title-text-md {
  @include Bellota;
  font-size: $section-headers-size;
  @include responsive(768px, 991px) {
    font-size: 48px;
  }
}
.title-text-sm {
  @include Bellota;
  font-size: $box-titles-font-size;
}
.title-text-sm-uppercase {
  @include Bellota;
  text-transform: uppercase;
  font-size: $secondary-font-size;
  color: lighten($color-main-backgrounds, 25);
}
.title-text-xs-uppercase {
  text-transform: uppercase;
  font-size: $secondary-font-size;
}
.text-paragraph {
  font-size: $primary-font-size;
  line-height: $text-spacing;
  color: lighten($color-main-backgrounds, 25);
  @include responsive(0, 600px) {
    font-size: $primary-font-size + 1;
    line-height: $text-spacing + 7;
    line-height: $text-spacing - 10;
  }
}
.longer-width {
  width: 60%;
}
.circled {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: solid 1px $color-main-backgrounds;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
  i {
    margin: auto;
  }
}
.light-text {
  color: white;
}
.dark-text {
  color: $color-main-backgrounds;
}
.longer-padding {
  padding-top: $standard-margin;
}
.full-input-width {
  input {
    width: 100%;
  }
}

.hide {
  @include responsive(0, 600px) {
    i {
      display: none;
    }
  }
}
