@import "../layouts/header";
@import "../layouts/nav";
@import "../layouts/about";
@import "../layouts/popular";
@import "../layouts/team";
@import "../layouts/appointment";
@import "../layouts/blog";
@import "../layouts/contact";
@import "../layouts/footer";
body {
  @include Roboto;
  margin: 0;
}

.title-text-bg {
  @include Bellota;
  font-size: 50px;
}
.title-text-md {
  @include Bellota;
  font-size: 42px;
}
.title-text-sm {
  @include Bellota;
}
.title-text-sm-uppercase {
  @include Bellota;
  text-transform: uppercase;
  font-size: 15px;
  color: lighten($color-main-backgrounds, 25);
}
.title-text-xs-uppercase {
  @include Roboto;
  text-transform: uppercase;
  font-size: 13px;
}
.text-paragraph {
  font-size: 16px;
  line-height: $text-spacing;
  color: lighten($color-main-backgrounds, 25);
}
