.about {
  margin-bottom: $standard-margin;
  img {
    width: 10%;
    display: block;
    margin: auto;
  }

  &-images {
    @include box-flex;

    margin-top: $standard-margin;
    gap: 0;
    width: 100%;
    @include responsive(600px, 767px) {
      flex-direction: column;
    }

    &-item {
      position: relative;

      img {
        width: 100%;
      }
      &:hover {
        &::before {
          position: absolute;
          background: url("../../img/icons/icon-spa.png") no-repeat center;
          background-position-y: 150px;
          background-size: 60px;
          content: "Body treatment";
          background-color: $color-primary-opacity;
          z-index: 1;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1px;
          @include Bellota;
          color: white;
          font-size: $box-titles-font-size;
          font-weight: 400;
        }
      }
    }
  }
}
