.contact {
  padding-top: $standard-padding;
  background-color: $color-primary;
  color: white;
  p {
    color: white;
  }

  &-container {
    @include box-flex;
    align-items: center;
    margin-top: $standard-padding;
    @include responsive(0, 600px) {
      flex-direction: column;
      width: 100%;
    }
    @include responsive(600px, 767px) {
      flex-direction: column;
      width: 100%;
    }
    &-phisical {
      width: 17%;
      @include responsive(0, 600px) {
        width: 80%;
        margin: auto;
      }
      @include responsive(600px, 767px) {
        width: 60%;
        margin: auto;
      }
      &-address,
      &-email,
      &-phone {
        @include box-flex;
        justify-content: left;
        align-items: center;

        &-text {
          text-align: left;
        }
      }
    }
  }

  padding-bottom: $standard-padding;
}
