.footer {
  padding-top: $standard-padding;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: $standard-padding;

  &-nav {
    @include box-flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: center;
    &-logo {
      width: 100px;
      height: 100px;
      margin: auto;
      img {
        width: 100%;
      }
    }
  }

  .centered {
    width: auto;
    margin: auto;
    a {
      font-size: 17px;
    }
  }
}
