.header {
  overflow: hidden;
  display: flex;
  position: relative;
  margin-right: 20px;
  justify-content: space-between;
  width: 100%;
  @include responsive(0, 600px) {
    padding: 0;
  }
  @include responsive(600px, 767px) {
    padding: 0;
  }

  &-hidden {
    margin-left: -30px;
    width: 15%;
    height: 15%;
    margin-top: 5%;
    @include responsive(0, 600px) {
      margin-left: -13px;
      margin-top: 40%;
    }
    @include responsive(600px, 767px) {
      margin-top: 50%;
      margin-left: -10px;
    }
    @include responsive(768px, 1199px) {
      margin-top: 30%;
      margin-left: -10px;
    }
  }
  &-texts {
    color: $color-main-backgrounds;
    width: 33%;
    padding-top: 15%;

    @include responsive(0, 600px) {
      margin-top: 100px;
      padding-top: 0;
      position: relative;
      z-index: 1;
      width: 100%;
    }

    @include responsive(600px, 767px) {
      margin-top: 100px;
      width: 100%;
    }
    @include responsive(768px, 1199px) {
      width: 50%;
    }

    &-buttons {
      display: flex;
      gap: 20px;
      align-items: center;
      padding-top: $standard-padding;
    }
  }
  &-image {
    width: 40%;

    img {
      width: 100%;
    }
    @include responsive(0, 600px) {
      display: none;
    }
    @include responsive(600px, 767px) {
      display: none;
    }
  }
}
