.header {
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: space-between;
  @include responsive(0, 600px) {
    padding: 0;
    height: 500px;
  }
  &-hidden {
    margin-left: -30px;
    width: 15%;
    height: 15%;
    margin-top: 5%;
    @include responsive(0, 600px) {
      margin-left: -13px;
      margin-top: 40%;
    }
  }
  &-texts {
    color: $color-main-backgrounds;
    width: 33%;
    padding-top: 15%;

    @include responsive(0, 600px) {
      top: 100px;
      padding-top: 0;
      position: relative;
      z-index: 1;
      width: 100%;
    }
    &-buttons {
      display: flex;
      gap: 20px;
      align-items: center;
      padding-top: $standard-padding;
    }
  }
  &-image {
    width: 40%;

    img {
      width: 100%;
    }
    @include responsive(0, 600px) {
      display: none;
    }
  }
}
