.nav {
  @include box-flex;
  text-transform: uppercase;
  padding-top: 10px;
  position: absolute;
  top: 4%;
  left: 15%;
  @include responsive(0, 600px) {
    padding-right: 5%;
    padding-left: 5%;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    left: 0;
    top: 0;
    align-items: center;
  }
  &-logo {
    img {
      width: 70px;
    }
  }

  &-humberger {
    width: 70px;

    &-item {
      transition: all 0.36s ease-in-out;
      display: hide;
      width: 70px;
      height: 10px;
      background-color: $color-primary;
      margin-bottom: 10px;
      @include responsive(0, 600px) {
        display: block;
        width: 40px;
        height: 5px;
        margin-bottom: 7px;
      }
    }
  }
}

// nav on scroll

.fixed-nav {
  background-color: $color-primary;
  position: fixed;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 0;

  a {
    color: white;
  }
}
// humberger menu onScrool
.white-humberger {
  span {
    background-color: white;
  }
}

//nav on click
.mobile-nav {
  width: 80%;
  background-color: $color-primary;
  z-index: 4;
  margin-left: 20%;
  display: flex;
  @include box-shadow;
  .menu {
    margin-top: 60px;
    height: auto;
    display: block;

    line-height: 80px;

    a {
      font-size: $main-header-font-size - 10;
      color: white;
    }
  }
  .nav-logo {
    img {
      display: none;
    }
  }
}
.humberger-on-click {
  position: absolute;
  top: 4%;
  right: 20px;
  padding-bottom: 20px;

  span {
    background-color: white;
  }
}
// hide span
.hide-span {
  display: none;
}
// rotate span

.rotate-left {
  transform: rotate(40deg);
  margin-top: 12px;
}
.rotate-right {
  transform: rotate(-40deg);
  margin-top: -12px;
}
