.member {
  position: relative;

  &-text {
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: -40px;
    width: 80%;
    height: 45px;
    overflow: hidden;
    left: 10%;
    right: 10%;
    padding-bottom: $standard-padding;
    transition: all 0.3s ease-in-out;
    @include responsive(768px, 991px) {
      width: 100%;
      left: 0;
      right: 0;
    }
    &:hover {
      bottom: -20px;
      overflow: block;
      height: 130px;
      @include box-shadow;
    }
    &-icons {
      display: flex;
      gap: 10px;
      justify-content: center;
      &-facebook,
      &-instagram,
      &-twitter {
        &-icon {
          &:hover {
            background-color: $color-primary;
            color: white;
          }
        }
      }
    }
  }
}
